:root {
  --stone-accent-color: #6DE06D;
  --stone-gradient: linear-gradient(to bottom, #2B2B2B, #3C3C3C);
}

@keyframes magic-stone-jade-pulse {
    0% {
      background: currentColor;
      box-shadow: 0 0 20px currentColor;
    }
    50% {
      background: var(--stone-accent-color);
      filter: brightness(1.5);
      box-shadow: 0 0 40px currentColor; /* Stronger glow */
    }
  100% {
    background: currentColor;
    box-shadow: 0 0 20px currentColor; /* Return to base glow */
  }
}